$color: #3778c2;
$gray-color: #f6f8fc;
$text-color: #434b54;
$blue-color: #3778c2;
$green-color: #5cb85c;

body {
    height: 100%;
    // max-width: 480px;
    padding: 0px;
    margin: 0;
  }
  
  .navbar {
    color: white;
    background: $blue-color;
  }

  .navbar > .row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .container {
    height: 100vh;
    background-color: $gray-color;
    padding: 0px !important;
  }

  .category-container {
    overflow-y: auto; /* Enable vertical scrollbar */
  }
  
  .container-fluid {
    width: 100%;
  }
  
  .list_link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .nav-link, .bi-arrow-left {
    color: white;
    font-weight: 100 !important;
  }
  
  a {
    text-decoration: none;
    color: $text-color;
  }
  
  .card-form {
    background-color: white;
    margin-bottom: 20px;
    margin-top: 5px;
  }
  
  .body_card {
    display: flex;
    flex-direction: row;
  }
  
  .body_card > .col-md-4 {
    max-width: 30%;
    max-height: 4rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
  }
  
  .body_card > .col-md-8 {
    max-width: 70%;
    font-weight: 700;
    font-size: larger;
  }
  
  .body_card > .col_expense_name {
    max-width: 70%;
  }
  
  .body_card > .col_expense_amount {
    max-width: 30%;
  }
  
  .last_update_category {
    font-size: 0.5rem;
    color: darkgrey;
    padding-left: 0.2rem;
  }
  
  .col_expense_name > .last_update_category {
    margin-top: 1rem;
  }
  
  .card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0;
    padding-top: 0.3rem;
  }
  
  .card-body > p {
    margin: 0;
    color: darkgrey;
  }
  
  .btn-outline-primary {
    width: 100%;
  }

  
  li {
    list-style: none;
  }
  
  .alert,
  .notice {
    margin: 0;
  }

  
  .btn_container > .btn {
    background-color: limegreen;
    color: white;
    height: 3.2rem;
    border: solid 0.2rem white;
  }
  
  .home_list > li > .btn {
    width: 40vw;
  }
  
  .logo {
    font-family: cursive;
    font-size: xx-large;
    text-align: center;
    margin-top: 25%;
  }
  
  .btn_container {
    background-color: limegreen;
    width: 100%;
    height: 4.3rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  
  .em_style,
  h3 {
    font-size: 1rem;
    color: darkgray;
  }

  .message {
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    color: darkgray;
    text-align: center;
    margin: 70px 20px;
    padding: 10px;
    font-style: italic;
    border-radius: 5px;
  }

  .btn-auth {
    width: 100%;
    margin-bottom: 10px;
  }

  .home-main-container {
    height: 70%;
  }

  .input-auth, .input-data {
    width: 100%;
    display: block;
    border: none;
    padding: 15px;
    margin-left: 0px;
    transition: all 0.3s cubic-bezier(.64,.09,.08,1);
    color: darken($color, 20%);
    &:focus, &:valid {
      box-shadow: none;
      outline: none;
      background-position: 0 0;
      &::-webkit-input-placeholder {
        color: $color;
        font-size: 11px;
        transform: translateY(-20px);
        visibility: visible !important;
      }
    }
  }

  hr {
    margin-top: 0px !important
  }

  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    $text-color !important;
}

.btn-login {
  background: transparent !important;
  border: none !important;
}

.custom-icon {
  font-size: 2em;
  color: $text-color;
  width: 50px;
  height: 50px;
}

.profile-pic {
  margin-left: 15px;
}

#error_explanation > h2, #error_explanation > ul > li {
  color: red;
  font-size: 12px;
  font-weight: bold;
}

.total-amount-header{
  display: flex;
  justify-content: space-between;
}




/*Groups index */
.group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: white;
  margin-top: 5px;
  width: 90%;
}

.icon {
  flex: 0 0 auto; /* The icon won't grow or shrink */
  margin-right: 20px; /* Space between icon and text */
}

.name {
  flex: 1; /* Takes remaining space */
  text-align: left; /* Center-align text */
}

small {
  font-size: 8px;
}

.amount {
  flex: 0 0 auto; /* The amount won't grow or shrink */
}

.row-new-category {
  position: fixed;
  bottom: 0;
  width: 100%; /* Full width of the viewport */
  background-color: #f2f2f2; /* Background color for visualization */
  padding: 20px; /* Padding for content inside the footer */
  text-align: center; /* Align content center if needed */
  background-color: $green-color;
}

.btn-fill-width {
  border: 1px solid white !important;
}

.row-new-category > .btn {
  background-color: transparent;
  border: none;
  color: white;
  width: 100%;
}

.file-chooser {
  padding-left: 10px;
  padding-bottom: 10px;
}

.container-table {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-left: 5px !important;
}

.operations-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.operations-table th,
.operations-table td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.operations-table th {
  background-color: #f5f5f5;
}

.operations-table tbody tr:hover {
  background-color: #f9f9f9;
}

.logout {
  background: transparent;
  border: none;
  font-weight: bold;
}